[submodule "collector"]
	path = collector
	url = https://github.com/kbo-data-portal/collector.git
  	branch = master
[submodule "api-server"]
	path = api-server
	url = https://github.com/kbo-data-portal/api-server.git
  	branch = master
