[submodule "collector"]
	path = collector
	url = https://github.com/kbo-data-portal/collector.git
  	branch = master
[submodule "portal"]
	path = portal
	url = https://github.com/kbo-data-portal/api-server.git
  	branch = master
